.container {
  text-align: center;
  padding: 30px;
  font-family: Arial;
}

button {
  padding: 10px 20px;
  margin: 15px;
  background: #4cafef;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #2196f3;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

input,
select {
  padding: 5px;
  margin-left: 10px;
}